#rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-left: 500px;
    width: 600px;
    height: 400px;
}

#rectangle.clicked {
    background-color: darkblue;
}
